
      body {
        margin: 0;
        padding: 0;
      background-color: #9BB8CC;  
      font-family: 'Work Sans'!important;    
    }
      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
  font
  h1 {
    font: 'Playfair Display'!important;
        font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  h2 {
    font: 'Work Sans';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  h3{
    font: 'Work Sans';
    font-size: 22px;
    margin-bottom: 10px;
    }
  h4{
    font: 'Work Sans';
    font-size: 20px;
    margin-bottom: 10px;
  }
  p {
    font: 'Work Sans';
    max-width: 75%;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
  }
  .span{
    font: 'Work Sans';

  }

.text-left{
  font: 'Work Sans';
  white-space: normal;
  padding-left: 5%;
  padding-right: 5%;

}

#conclusion{
padding-top: 800px;
padding-bottom: 100px;

}

.article-intro{
  padding-top: 100px;
}
#intro-title::after {
  content: '|';
  margin-left: 5px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}