#word-doc{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.word-container {
    position: relative;
    top: 0;
    left: 0;
  }

#word-doc-copilot {
    position: absolute;
    z-index: -1;
    transition: opacity 3s;
  }
  

#word-intro{
    padding-top: 100px;
    padding-bottom: 100px;
}

.word-crit{
    background-color: #d8b3ea;
    height: 400px;
    width:600px;
    white-space: normal;

}
.crit-col{
    padding-left: 50px;
}

.email-text{
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .crit-col{
        padding-left: 0px;
    }
    .word-crit{
        width: 100%;
    }
    .word-crit-text{
        font: "Work Sans";
        padding-top: 10% !important;
        padding-left: 10%!important;
        padding-right: 0% !important;
        text-align: left;
        vertical-align: middle;
        color: black;
    }

    .outlook-text{
        font-size: 20px;
    }
    .email-text{
        font-size: 10px;
    }
    
}

.round-corner {
    -webkit-border-radius: 5px 5px 5px 5px; 
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
 }

.word-crit-text{
    font: "Work Sans";
    padding-top: 20%;
    padding-left: 20%;
    text-align: left;
    vertical-align: middle;
    color: black;
}
.chart{
    text-align: left;
    vertical-align: middle;

}


.yellow{
    background-color: yellow;
}

.word-text{
    padding-top: 30%;
    padding-left: 20%;
    word-wrap: break-word;
    width: 500px;
}

.outlook-text{
    padding-top: 50%;
    padding-left: 10%;
    word-wrap: break-word;
    width: 500px;
    font-size: 16px;
}


#bias-text{
    background-color: yellow;
}

.red{
    background-color: rgb(217, 127, 127);
}
.marker{
    display: inline-block;
    padding: 2px 4px;
    border-radius: 5px;
    color: black;
    transition: background-color 3s;
}