.title-div{
    background-color: black;
}
.title {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 800px;
margin: 0 auto;
}


.title-text{
    color: white;
}