
      body {
        margin: 0;
        padding: 0;
        background-color: rgb(177, 167, 167);
      }
      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
    margin-bottom: 30px;
  }

  .chat-container {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px
  }
  .q-a-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .logo {
    flex: 0 0 auto;
  }
  .logo img {
    width: 100px;
    height: 100px;
  }
  .text {
    flex: 1 1 auto;
    margin: 0 20px;
  }
  .button {
    flex: 0 0 auto;
  }
  .button button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  img{
    width: 50%;
    height:auto;
  }

  #word-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #text-container{
    padding-top: 400px;
    position: absolute;
    word-wrap: break-word;
    width: 700px;
  }
  #word-text {
    font-size: 20px;
    color: black;
  }


  #title{
    width: 300px;
    position: absolute;
padding-top: 200px;  
padding-right: 50px;
}
/* Container needed to position the button. Adjust the width as needed */
.co-pilot-container {
  position: relative;
  width:50%;
}
#chat1{
  transition: opacity 3s;
}
#chat2{
  transition: opacity 3s;
}
#title-text{
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: #333333;
}
.chatbox{
  z-index: 3;
  position: absolute;
  width: 80%;
  padding-top: 100px;
}
.document{
  width: 80%;
  height:auto;
}

.sketch{
  z-index: 4;
  padding-top: 400px;
  width: 40%;
  height:auto;
  position: absolute;
}

body{
background: linear-gradient(135deg, #33E9FF, #9C5BDD);
}

#captioned{
  position: relative;
  width: 40%;
  height:auto;
  padding-right: 30px;
}

.article-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

}


#outlook-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#down{
  width: 10%;
}

#outlook-box{
  z-index: 3;
  padding-left: 250px;
  padding-top: 500px;
  position: absolute;
  word-wrap: break-word;
  width: 900px;
  
}
#email-text{
}
