#word-doc{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.word-container {
    position: relative;
    top: 0;
    left: 0;
  }

#word-doc-copilot {
    position: absolute;
    z-index: -1;
    transition: opacity 3s;
  }
  

#word-intro{
    padding-top: 100px;
    padding-bottom: 100px;
}

.word-crit{
    background-color: #9BB8CC;
    height: 400px;
    width:500px;
    white-space: normal;
}

.round-corner {
    -webkit-border-radius: 5px 5px 5px 5px; 
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
 }

.word-crit-text{
    padding-top: 30%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    vertical-align: middle;
    color: rgb(7, 7, 7);
}
.chart{
    text-align: left;
    vertical-align: middle;

}

.yellow{
    background-color: yellow;
}

.word-text{
    padding-top: 30%;
    padding-left: 20%;
    word-wrap: break-word;
    width: 500px;
}

#bias-text{
    background-color: yellow;
}

mark{
    background-color: rgb(232, 51, 51);
}

#word-bias-text{
    display: inline-block;
    padding: 2px 4px;
    border-radius: 5px;
    color: black;
    transition: background-color 3s;
}
#word-security-text{
    color: black;
    transition: background-color 3s;
}